.App {
  max-width: 960px;
  margin: 0 auto;
}

body {
  background: white;
  color: #eb3b7f;
}
a {
  color: #eb3b7f;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  font-weight: 500;
}
.App-header {
  margin: 30px 0;
}
.App-logo {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}
.App-footer {
  text-align: center;
  margin: 30px 0;
  font-size: 14px;
  font-weight: 600;
}
