.Phonetic {
  margin: 20px 0;
}

.Phonetic a {
  border: 1px solid #ffedff;
  background: #ffedff;
  color: #eb3b7f;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  margin-right: 10px;
  padding: 7px 15px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: #eb3b7f;
  color: white;
  border: none;
}
.Phonetic .text {
  opacity: 0.5;
  font-weight: 500;
}
